.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 50px;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book-cover {
  width: 220px;
  height: 350px;
  margin-top: 10px;
}

.sort-form {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px 0 0;
}

.sort-form label {
  font-weight: bold;
  margin-right: 10px;
  font-size: 1rem;
}

.sort-form select {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sort-form select:hover {
  border-color: #999;
  background-color: #f0f0f0;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 20px 50px 0 0;
}


.search-form input{
    padding: 6px 10px;
     border-radius: 8px;
     border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f8f8f8;
  cursor: pointer;
}


.flash-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  font-weight: bold;
}

.add-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 40px;
}

.add-button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.add-button:hover {
  background-color: #45a049;
}

.form-card {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.form-card label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

.form-card input[type="text"],
.form-card input[type="date"],
.form-card input[type="number"],
.form-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.form-card input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form-card input[type="submit"]:hover {
  background-color: #45a049;
}